#content
{
    text-align:right;
    font-size:130%;
}
#content a
{
    margin:0 20px;
}
#content2
{
    text-align:right;
    font-size:130%;
}
#content2 hr
{
    border: none; /* Убираем границу */
    background-color: blue; /* Цвет линии */
    color: blue; /* Цвет линии для IE6-7 */
    height: 2px;
}
#authorization
{
    text-align:right;
    font-size:130%;
    color:blue;
}
#registration p
{
    text-align:center;
    font-size:100%;
    color:blue;
}